
/* Your CSS Code here. */
#box1{
	width: 300px;
	height: 550px;
	border: 1px solid;
	background-color: white;
	margin-bottom: 20px;
}
#box2{
	border: 15px solid blue;
	margin: 20px;
}
#box3{
	padding: 50px;
	background-color: lightblue;
	border: 1px solid;
}
#box4{
	width: 50px;
}